{% extends "base.html" %}

{% block header %}
    <h2>Schicht zuweisen</h2>
{% endblock header %}

{% block content %}
    <form action="{{ url_for('shift.assign_shift') }}" method="POST">
        <ul>
            <li>
                Datum: 
                <input type="date" name="shift_date" required>
            </li>
            <li>
                Mitarbeiter:
                <select name="user_id" required>
                    <option value="">-- Bitte wählen --</option>
                    {% for u in users %}
                        <option value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                Abteilung:
                <select name="department_id" required>
                    <option value="">-- Bitte wählen --</option>
                    {% for dept in departments %}
                        <option value="{{ dept.id }}">{{ dept.department_name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                Schicht:
                <select name="shift_type_id" required>
                    <option value="">-- Bitte wählen --</option>
                    {% for st in shift_types %}
                        <option value="{{ st.id }}">{{ st.name }} ({{ st.start.strftime('%H:%M') }} - {{ st.end.strftime('%H:%M') }})</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Dienst eintragen</button>
    </form>
{% endblock content %}
