{% extends "base.html" %}
{% block header %}<h2>Support Posteingang</h2>{% endblock header %}

{% block content %}
    {% if tickets %}
        <table>
            <tr>
                <th>Datum</th>
                <th>Von</th>
                <th>Nachricht</th>
                <th>Status</th>
            </tr>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.timestamp.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ ticket.user.firstname }} {{ ticket.user.lastname }}</td>
                <td>{{ ticket.message }}</td>
                <td><strong>{{ ticket.status }}</strong></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Perfekt! Keine offenen Support-Anfragen.</p>
    {% endif %}
{% endblock content %}
