<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DienstplanApp</title>
</head>
<body>

<header>
    <h1>DienstplanApp</h1>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Startseite</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('profile.profile')}}">Profil</a></li>
                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{url_for('auth.register')}}">Registrieren</a></li>
                <li><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block header %}
    
    {% endblock header %}
</header>
<main>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages  %}
                <div class ="flash {{category}}">{{ message }}</div>
            {% endfor %}       
        {% endif %}
    {% endwith %}
    
    {% block content %}
    
    {% endblock content %}
</main>

</body>
</html>