{% extends "base.html" %}

{% block header %}
    <h2>Sitzung abgelaufen</h2>
{% endblock %}

{% block content %}
    <div class="error-box">
        <p><strong>Ups! Das hat leider nicht geklappt.</strong></p>
        <p>Aus Sicherheitsgründen ist deine Sitzung abgelaufen. Das passiert meistens, wenn ein Formular zu lange geöffnet war oder die "Zurück"-Taste des Browsers verwendet wurde.</p>
        
        <p><em>Grund: {{ reason }}</em></p>
        
        <br>
        <a href="{{ url_for('index') }}">
            <button type="button">Zurück zur Startseite</button>
        </a>
    </div>
{% endblock %}