{% extends "base.html" %}

{% block header %}

{% endblock header %}

{% block content %}
<form class="form-card" action="" method="post">
    <img src="{{ url_for('static', filename='img/DienstButlerLogo.png') }}" alt="DienstButler Logo">
    <h2>Registrieren</h2>
    <input type="text" name="firstname" id="firstname" placeholder="Vorname" value="{{ form_data.get('firstname','') }}"
        required>
    <input type="text" name="lastname" id="lastname" placeholder="Nachname" value="{{form_data.get('lastname', '')}}"
        required>

    <input type="email" name="email" id="email" placeholder="Email Adresse" value="{{ form_data.get('email','')}}"
        required>
    <input type="email" name="confirm-email" id="confirm-email" placeholder="Email Adresse bestätigen"
        value="{{ form_data.get('confirm-email','') }}" required>

    <input type="password" name="password" id="password" placeholder="Passwort" required>
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Passwort bestätigen" required>

    <input type="text" name="invite-code" id="invite-code" placeholder="Einladungscode (optional)">

    <div class="checkbox-group">
        <input type="checkbox" name="dsgvo" id="dsgvo" value="dsgvo-accepted" required>
        <label for="dsgvo"><a href="/dsgvo">DSGVO</a> gelesen und akzeptiert</label>
    </div>

    <div class="checkbox-group">
        <input type="checkbox" name="agb" id="agb" value="agb-accepted" required>
        <label for="agb"><a href="/agb">AGB</a> gelesen und akzeptiert</label>
    </div>

    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <button type="submit">Registrieren</button>
</form>
{% endblock content %}